<nav class="nav navbar-inverse" style="margin-bottom: 5px;">
  <ul class="nav navbar-nav">
    <li><a href="#home" data-icon="home"><span class="glyphicon glyphicon-home" ng-click="$route.reload()"></span>Home</a></li>    
    <li><a href="patienthub://app" data-icon="clock"><span class="glyphicon glyphicon-time"></span>Measurement</a></li>   
    <li><a href="#questionnaires" data-icon="edit"><span class="glyphicon glyphicon-pencil"></span>Questionnaires</a></li>    
    <li><a href="#education" data-icon="info"><span class="glyphicon glyphicon-info-sign"></span>Education</a></li>    
    <li><a href="#comment" data-icon="comment"><span class="glyphicon glyphicon-blackboard"></span>Comments</a></li>     
    <li><a href="#diary" data-icon="calendar"><span class="glyphicon glyphicon-calendar"></span>Diary</a></li>   
    <li><a href="#history" data-icon="heart"><span class="glyphicon glyphicon-heart"></span>History</a></li>   
    <li><a href="#medication" data-icon="plus"><span class="glyphicon glyphicon-plus-sign"></span>Medication</a></li>   
  </ul>
</nav>

<button class="btn btn-info pull-right btn-sm">
  <span class="glyphicon glyphicon-refresh" ng-click="loadComments()"></span>
</button>

<div class="row">
  <div class="col-sm-3">
    <div class="btn-group-vertical" style="width: 100%">
      <button type="button" class="btn btn-primary text-left"  ng-click="setContent('new')"> 
        New Comment<span class="glyphicon glyphicon-envelope pull-right"></span>
      </button>
      <button type="button" class="btn btn-info text-left" ng-click="setContent('today')" ng-class="{'selected-item': commentType == 'today'}">Today
        <span class="badge pull-right">{{commentsToday.length}}</span>
      </button>
      <button type="button" class="btn btn-info text-left" ng-click="setContent('week')" ng-class="{'selected-item': commentType == 'week'}">Last Week
        <span class="badge pull-right">{{commentsWeek.length}}</span>
      </button>
      <button type="button" class="btn btn-info text-left" ng-click="setContent('month')" ng-class="{'selected-item': commentType == 'month'}">Last Month
        <span class="badge pull-right">{{commentsMonth.length}}</span>
      </button>
    </div>
  </div>
  <div class="col-sm-9" ng-hide="commentType == 'new'">
    <div ng-repeat="entry in commentsToDisplay">
      <div class="row">
        {{entry.sender}}:
      </div>
      <div class="row text-info">
        <span>{{entry.content}}</span><br />
        <span style="font-size: 10px;">{{entry.dateTime}}</span>
      </div>
      <br />
    </div>
  </div>

  <div class="col-sm-9" ng-show="commentType == 'new'">
    <div class="form-group">
      <label for='comment'>Comment:</label>
      <textarea class="form-control" rows="7" id="comment" placeholder="Type your comment here..." ng-model="myComment"></textarea>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-success" ng-click="submitNewComment()">Submit</button>
    </div>
  </div>  
</div>

<div class="loader" ng-show="loading"></div>
</div>

